.list-item {
  list-style: none;
}
.movie {
  box-shadow: 5px 10px #b5fe83;
  width: 521px;
  margin-left: 700px;
}

@media screen and  (max-width: 780px){

    .movie{
      margin: auto;
      width: 90%;
      
    }
  
  }